# My First Jupyter Notebook

In [36]:
%pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in ./MY_VIR_ENV/lib/python3.10/site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [37]:
import pyspark

In [38]:
import pandas as pd

In [39]:
pd_df=pd.read_csv("./csv/csv_for_spark_practise.csv")
pd_df

       Name  Age
0  Debarshi   26
1       Ron   19
2     Harry   20
3     Bruce   30

In [40]:
type(pd_df)

pandas.core.frame.DataFrame

In [41]:
from pyspark.sql import SparkSession

In [42]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [43]:
spark

In [44]:
df_pyspark=spark.read.option('header','true').csv("./csv/csv_for_spark_practise.csv")

In [45]:
df_pyspark.show()

+--------+---+
|    Name|Age|
+--------+---+
|Debarshi| 26|
|     Ron| 19|
|   Harry| 20|
|   Bruce| 30|
+--------+---+

In [46]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [47]:
df_pyspark.head(2)

[Row(Name='Debarshi', Age='26'), Row(Name='Ron', Age='19')]

In [48]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)